/**
* @频道 Qunar.com 旅行
* @项目 旅行bbs——首页部分轮播图
* @作者 cuiying.li
*/

.b_cover { }
.b_cover .listbox { position:relative; height:193px; width:320px; overflow:hidden;margin:0 auto; }
.b_cover .listbox .list_item .list { float:left; }
.b_cover .listbox .sliderbox { position:absolute; bottom:10px; text-align:center; width:100%; }
.b_cover .listbox .sliderbox .slider { }
.b_cover .listbox .sliderbox .current { }
.b_cover .listbox .sliderbox .slider .img_default { display:inline-block; }
.b_cover .listbox .sliderbox .slider .img_current { display:none; }
.b_cover .listbox .sliderbox .current .img_default { display:none; }
.b_cover .listbox .sliderbox .current .img_current { display:inline-block; }
.b_cover .listbox .btns{position:absolute;text-align:center;bottom:10px;width:100%;}
.b_cover .listbox .btns a{width:6px;height:6px;border-radius:3px;background:#fff;display:inline-block;margin:0 2px;overflow:hidden;}
.b_cover .listbox .btns a.current{background:#9EA0A6;}
.b_cover .listbox .imgNum { position:absolute; text-align:center; bottom:10%; width:100%; left:0; line-height:22px; font-size:12px; color:#ffffff; }
