.wp {
}
.wm {
	margin: 0 10px
}
.bm {
	margin-bottom: 10px
}
.bm_c {
	padding: 0 10px
}
.bm_h .o {
	float: right;
	width: 31px
}
.bm_h .o img {
	float: right;
	cursor: pointer
}
.bm_h .i {
	padding-left: 10px
}
.bm_h .pn {
	margin-top: 4px
}
.bm_h {
	height: 36px;
	background: #F0FAF6;
	line-height: 36px;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px solid #D0D5D4
}
.bm_h h2 a {
	display: block;
	margin: 0 31px 0 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: 400
}
.bm_h .tiezi-sum {
	font-size: 12px;
	margin-right: 20px;
	color: #999
}
.sub_forum {
	position: relative;
	background: #FFF;
}
.sub_forum dl {
	padding: 20px 0 20px 18px;
	font-size: 16px;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden
}
.sub_forum  dt {
	width:7%;
	
}
.sub_forum  dd {
	width:92%;
	
}
.sub_forum dd .tit {
	font-size: 16px;
	font-weight: 400
}
.sub_forum dd .tit .sum {
	color: #FF7F3F;
	margin: 0 5px
}
.sub_forum dd .infor{
	color: #a0a0a0;
}
.sub_forum dl:last-child { border-bottom:none;}
