.green{color: #48b59a;}
.postlist h2 { color: #4C4C4C; clear:both; font-size:14px; line-height:1.5em; font-weight:normal; margin:13px 15px 0 15px;; }
.postlist h2 dd{ margin-top: 5px}
.postlist h2 .bottom_l{ float: left;}
.postlist h2 .bottom_r{ float: right;}
.postlist h2 .bottom_l{color: #999999;font-size: 12px;}
.postlist h2 .bottom_r .num{ color: #888888;font-size: 12px;}
.postlist h2 .bottom_r .icon{display: inline-block;vertical-align: -1px;}
.postlist .replyform{position: relative;background-color: #f0faf6;padding:10px;}

.postlist .replyform .l{margin-right: 92px; }
.postlist .replyform .r{position: absolute;right: 10px;top:10px; width:70px; }
.postlist .replyform .r dd{position: relative;}
.postlist .replyform .ipt{
	width: 100%;
	height: 21px;
	padding:5px;
	border: 1px solid #D9D8D8;
	border-radius: 4px;
}
.postlist .replyform .txtarea{
	width: 100%;
	height: 55px;
	padding:5px;
	border: 1px solid #D9D8D8;
	border-radius: 4px;
}
.postlist .replyform .submitbtn{ width: 70px;height: 33px;font-size:15px;line-height: 33px;color: #fff;background-color: #34ad8f;border:none; border-radius: 4px;}
.postlist .replyform .camera_link{position: absolute;left: 21px;top: 7px; display: inline-block;}

.bg{background:none;}
.plc { border-bottom:1px solid #D9D8D8; overflow:hidden; position:relative; }
.plc .avatar { position:absolute; left:10px; top:9px; display:inline; }
.plc .avatar img{}
.plc .pi { margin-left:55px; margin-right:10px; padding:7px 0; position:relative;}
.plc .pi .authi{ position:relative; }
.plc .pi .authi .usrname{ font-weight: normal; }
.plc .pi .authi .rela{ margin-top:2px; }
.plc .pi .authi li em{ float:right; font-style: normal; }	
.plc .pi .message{margin-top:5px; font-size:14px; }
.plc .pi .message img,.plc .pi .img_one img { margin:0px 4px 0px 0; max-width:140px; max-height:140px; }
.plc .pi .message .quote{ padding:10px 10px 7px 11px; margin:5px 0; border:1px dashed #D7D7D7; font-size:12px; }
.plc .pi .img_list { margin:4px auto; }	
.plc .pi .img_list li { float:left; width:83px; height:83px; margin:0 4px 4px; text-align:center;vertical-align: middle; line-height:83px; }
.plc .pi .img_list li a { display:block;}

.manage { margin:4px -10px 0 0; position:absolute; top:38px; right:5px; height:50px; }
.button { width:53px; height:39px; color:#FFF; background:url(./images/button_bg.png) no-repeat; margin:0 2px; border:0; font-size:12px; }
.button2 { width:50px; height:32px; color:#FFF; background:url(./images/button_bg2.png) no-repeat; margin:7px 0 3px 0; border:0; font-size:12px; }

.fastpost .input { width:100%; height:34px; text-indent:7px; margin-top:2px; border:1px solid #D9D8D8; } 
.search { padding:7px 10px;}
.search .input { width:100%; height:30px; text-indent:7px; margin-top:2px; border:1px solid #D9D8D8;}