layout: false
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content=",骆驼们的精神家园">
    <title>发表帖子 - 旅游问答 -  骆驼们的精神家园 -  手机版 - Powered by Discuz!</title>
    <link rel="stylesheet" href="/demos/styles/touch/style2.css" type="text/css" media="all">
    <script src="static/js/mobile/jquery-1.8.3.min.js?mf7" type="text/javascript"></script>

    <script type="text/javascript">var STYLEID = '4', STATICURL = 'static/', IMGDIR = 'static/image/common', VERHASH = 'mf7', charset = 'utf-8', discuz_uid = '36625', cookiepre = 'VBlh_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'newthread', creditnotice = '1|威望|', defaultstyle = '', REPORTURL = 'aHR0cDovL3RyYXZlbC5xdW5hci5jb20vdXBsb2FkL2ZvcnVtLnBocD9tb2Q9cG9zdCZhY3Rpb249bmV3dGhyZWFkJmZpZD01NCZtb2JpbGU9Mg==', SITEURL = 'http://travel.qunar.com/bbs/', JSPATH = 'static/js/';</script>

    <script src="static/js/mobile/common.js?mf7" type="text/javascript" charset="utf-8"></script>

</head>

<body class="bg">
    <form method="post" id="postform" action="forum.php?mod=post&amp;action=newthread&amp;fid=54&amp;extra=&amp;topicsubmit=yes&amp;mobile=2">
        <input type="hidden" name="formhash" id="formhash" value="a939ae5f">
        <input type="hidden" name="posttime" id="posttime" value="1421377611">

        <!-- header start -->
        <header class="header">
            <div class="headerBox">
                <div class="hdc jindu-page-back cl">
                    <div class="y">
                        <div class="rightbox cl">
                            <a href="#" class="active y">发表</a>
                        </div>
                    </div>
                    <a href="forum.php?mod=forumdisplay&amp;fid=54&amp;page=1&amp;mobile=2" class="back z">
                        <img src="/demos/styles/touch/images/bbs-new/arrow_03.png" zsrc="" width="14" height="22"></a>
                    <span class="name">回复帖子</span>
                </div>
            </div>
        </header>
        <!-- header end -->

        <!-- main postbox start -->
        <div class="wp">
            <div class="new_post_reply">
                <div class="e_hd">
                    RE:
                    <a class="green" href="#">[欧洲]</a>
                    请教大侠从瑞士苏黎世到比利时布鲁塞尔的铁路问题，有知道的吗？
                </div>
                <div class="e_quote">
                    <dl>
                        <dt> <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-quote_left.png" width="7" height="6"></em>
                            vhvr3816 发表于 1小时前
                        </dt>
                        <dd>
                            深圳晚报刚刚证实，著名青年歌手姚贝娜因乳腺癌复发，于2015年1月16日下午病逝于北京大学深圳医院。稍后我们将会陆续发布相关信息。在此，我们沉痛悼念姚贝娜携歌往生，并相信天堂没有病痛。贝娜一路走好。姚贝娜去年12月26日入住北大深圳病院特诊科，近日病情忽然恶化，经诊断发现癌细胞已经转移入大脑和肺部，连日来每天都有她的家人来医院陪 <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-quote_right.png" width="7" height="6"></em>
                        </dd>
                    </dl>
                </div>
                <div class="e_content">
                    <textarea rows="3" placeholder="请输入回复内容"></textarea>
                </div>
                <ul class="e_post_imglist cl">
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li>
                        <span aid="35363" class="del">
                            <a href="javascript:;">
                                <img width="20" height="20" src="/demos/styles/touch/images/bbs-new/xu-del.png"></a>
                        </span>
                        <span class="p_img">
                            <a href="javascript:;">
                                <img style="height:54px;width:54px;" id="aimg_35363" title="new_plan_3.0_step3_map.png" src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></a>
                        </span>
                        <input type="hidden" name="attachnew[35363][description]"></li>
                    <li class="filedata">
                        <img width="54" height="54" id="aimg_35361" title="new_plan_3.0_step2.png" src="/demos/styles/touch/images/bbs-new/xu_upload_btn.png"></li>
                </ul>
            </div>
        </div>
        <!-- main postbox start --> </form>
</body>
</html>