layout: false
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="去哪儿网论坛">
    <meta name="description" content="旅游问答_去哪儿网论坛 ,骆驼们的精神家园">
    <title>旅游问答_骆驼们的精神家园_骆驼们的精神家园 -  手机版 - Powered by Discuz!</title>
    <link rel="stylesheet" href="/demos/styles/touch/style2.css" type="text/css" media="all">
    <script src="static/js/mobile/jquery-1.8.3.min.js?mf7" type="text/javascript"></script>

    <script type="text/javascript">var STYLEID = '4', STATICURL = 'static/', IMGDIR = 'static/image/common', VERHASH = 'mf7', charset = 'utf-8', discuz_uid = '36625', cookiepre = 'VBlh_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'newthread', creditnotice = '1|威望|', defaultstyle = '', REPORTURL = 'aHR0cDovL3RyYXZlbC5xdW5hci5jb20vdXBsb2FkL2ZvcnVtLnBocD9tb2Q9Zm9ydW1kaXNwbGF5JmZpZD01NCZwYWdlPTE3Jm1vYmlsZT0y', SITEURL = 'http://travel.qunar.com/bbs/', JSPATH = 'static/js/';</script>

    <script src="static/js/mobile/common.js?mf7" type="text/javascript" charset="utf-8"></script>

</head>

<body class="bg">
    <!-- header start -->
     <header class="header">
        <div class="headerBox">
        <div class="hdc jindu-page-back cl">
            <div class="y">
                <div class="rightbox cl">
                    <!-- <a href="#" class="my-tiezi z">只看楼主</a> -->
                    <a href="#"><img src="/demos/styles/touch/images/bbs-new/serch-icon1.jpg" alt="" class="serch-icon z" width="20" height="22"></a>
                    <span class="line"></span>
                    <a href="#"><img src="/demos/styles/touch/images/bbs-new/back_03.png" alt="" class="bianji y" width="22" height="17"></a>
                   <!--  <a href="#"><img src="/demos/styles/touch/images/bbs-new/next_03.png" alt="" class="back-icon y" width="22" height="17"></a> -->
                </div>
                </div>
                <a href="forum.php?mod=forumdisplay&amp;fid=54&amp;page=1&amp;mobile=2" class="back z">
                    <img src="/demos/styles/touch/images/bbs-new/arrow_03.png" zsrc="" width="14" height="22"></a>
                <span class="name">旅游问答</span>
        </div>
        <div class="hdc cl">
            <div class="e_searchbox">
                <div class="input_search">
                    <div class="icon_search">
                        <img src="http://source.qunar.com/site/images/travel/touch/icon_search_2.png" width="25" height="25"></div>
                    <a class="icon_cancel" href="javascript:void(0);">
                        <img src="http://source.qunar.com/site/images/travel/touch/icon_cancel.png" width="25" height="25" data-log="touch_search_delete"></a>
                    <a class="input_filter" id="submit_btn">关闭</a>
                    <form name="str_search" action="/search?q=&amp;" id="search_form">
                        <input type="search" id="searchPanel_input" class="input_txt" data-log="touch_search_keyword" value="搜帖子"></form>
                </div>
            </div>
        </div>
    </div>
    </header>
    <!-- header end -->

    <!-- main threadlist start -->
    <div class="threadlist">
        <div class="filter-area">
            <a class="select_a">
                <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-arrow.jpg" width="11" height="8"></em>
                <select id="dumppage">
                    <option value="1" selected="">第1页</option>
                    <option value="2">第2页</option>
                    <option value="3">第3页</option>
                </select>
                <span>全部时间</span>
            </a>
            <a class="select_a">
                <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-arrow.jpg" width="11" height="8"></em>
                <select id="dumppage">
                    <option value="1" selected="">第1页</option>
                    <option value="2">第2页</option>
                    <option value="3">第3页</option>
                </select>
                <span>最后发表</span>
            </a>
            <a class="select_a no_border">
                <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-arrow.jpg" width="11" height="8"></em>
                <select id="dumppage">
                    <option value="1" selected="">第1页</option>
                    <option value="2">第2页</option>
                    <option value="3">第3页</option>
                    <option value="4">第4页</option>
                </select>
                <span>全部主题</span>
            </a>
        </div>
        <ul class="postlist">
            <li>
                <dl>
                    <dt>
                        <em class="category">[<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;filter=typeid&amp;typeid=18">东南亚</a>]</em> 
                        <a href="forum.php?mod=viewthread&amp;tid=8720&amp;extra=page%3D17&amp;mobile=2">清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周...</a>
                    </dt>
                    <dd class="cl">
                        <div class="bottom_l">
                            <span class="from">行程助手</span><span class="gray_line">|</span><span class="ctime">2014-04-28</span>
                        </div>
                        <div class="bottom_r">
                                <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-msg.jpg" width="10" height="10"></em><span class="num">120</span>
                        </div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <em class="category">[<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;filter=typeid&amp;typeid=18">东南亚</a>]</em> 
                        <a href="forum.php?mod=viewthread&amp;tid=8720&amp;extra=page%3D17&amp;mobile=2">清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周...</a>
                    </dt>
                    <dd class="cl">
                        <div class="bottom_l">
                            <span class="from">行程助手</span><span class="gray_line">|</span><span class="ctime">1小时前</span>
                        </div>
                        <div class="bottom_r">
                                <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-msg.jpg" width="10" height="10"></em><span class="num">120</span>
                        </div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <em class="category">[<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;filter=typeid&amp;typeid=18">东南亚</a>]</em> 
                        <a href="forum.php?mod=viewthread&amp;tid=8720&amp;extra=page%3D17&amp;mobile=2">清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周</a>
                    </dt>
                    <dd class="cl">
                        <div class="bottom_l">
                            <span class="from">行程助手</span><span class="gray_line">|</span><span class="ctime">20分钟以前</span>
                        </div>
                        <div class="bottom_r">
                                <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-msg.jpg" width="10" height="10"></em><span class="num">8</span>
                        </div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <em class="category">[<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;filter=typeid&amp;typeid=18">东南亚</a>]</em> 
                        <a href="forum.php?mod=viewthread&amp;tid=8720&amp;extra=page%3D17&amp;mobile=2">清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周</a>
                    </dt>
                    <dd class="cl">
                        <div class="bottom_l">
                            <span class="from">luckyxutao</span><span class="gray_line">|</span><span class="ctime">20分钟以前</span>
                        </div>
                        <div class="bottom_r">
                                <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-msg.jpg" width="10" height="10"></em><span class="num">8</span>
                        </div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <em class="category">[<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;filter=typeid&amp;typeid=18">东南亚</a>]</em> 
                        <a href="forum.php?mod=viewthread&amp;tid=8720&amp;extra=page%3D17&amp;mobile=2">清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周是不是只有周末才开清迈的夜市，是不是只有周</a>
                    </dt>
                    <dd class="cl">
                        <div class="bottom_l">
                            <span class="from">uncle sam</span><span class="gray_line">|</span><span class="ctime">半小时以前</span>
                        </div>
                        <div class="bottom_r">
                                <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-msg.jpg" width="10" height="10"></em><span class="num">81</span>
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="page-area">
        <a class="prev" href="http://travel.qunar.com/bbs/forum.php?mod=forumdisplay&amp;fid=54&amp;page=16&amp;mobile=2">上一页</a>
        <a class="select_a">
            <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-arrow.jpg" width="11" height="8"></em>
            <select id="dumppage">
                <option value="1" selected="">第1页</option>
                <option value="2">第2页</option>
                <option value="3">第3页</option>
            </select>
            <span>最后发表</span>
        </a>
        <a class="next" href="http://travel.qunar.com/bbs/forum.php?mod=forumdisplay&amp;fid=54&amp;page=18&amp;mobile=2">下一页</a>
    </div>
<!--     <div class="page">
        <a href="http://travel.qunar.com/bbs/forum.php?mod=forumdisplay&amp;fid=54&amp;page=16&amp;mobile=2">上一页</a>
        <a id="select_a" style="margin:0 2px;padding:1px 0 0 0;border:0;display:inline-block;position:relative;width:100px;height:31px;line-height:27px;background:url(static//image/mobile/images/pic_select.png) no-repeat;text-align:left;text-indent:20px;">
            <select id="dumppage" style="position:absolute;left:0;top:0;height:27px;opacity:0;width:100px;">
                <option value="1">第1页</option>
                <option value="2">第2页</option>
                <option value="3">第3页</option>
                <option value="4">第4页</option>
                <option value="5">第5页</option>
                <option value="6">第6页</option>
                <option value="7">第7页</option>
                <option value="8">第8页</option>
                <option value="9">第9页</option>
                <option value="10">第10页</option>
                <option value="11">第11页</option>
                <option value="12">第12页</option>
                <option value="13">第13页</option>
                <option value="14">第14页</option>
                <option value="15">第15页</option>
                <option value="16">第16页</option>
                <option value="17" selected="">第17页</option>
                <option value="18">第18页</option>
                <option value="19">第19页</option>
                <option value="20">第20页</option>
                <option value="21">第21页</option>
                <option value="22">第22页</option>
                <option value="23">第23页</option>
                <option value="24">第24页</option>
                <option value="25">第25页</option>
                <option value="26">第26页</option>
                <option value="27">第27页</option>
                <option value="28">第28页</option>
                <option value="29">第29页</option>
                <option value="30">第30页</option>
                <option value="31">第31页</option>
                <option value="32">第32页</option>
                <option value="33">第33页</option>
                <option value="34">第34页</option>
                <option value="35">第35页</option>
                <option value="36">第36页</option>
                <option value="37">第37页</option>
                <option value="38">第38页</option>
                <option value="39">第39页</option>
                <option value="40">第40页</option>
                <option value="41">第41页</option>
                <option value="42">第42页</option>
                <option value="43">第43页</option>
                <option value="44">第44页</option>
                <option value="45">第45页</option>
                <option value="46">第46页</option>
                <option value="47">第47页</option>
                <option value="48">第48页</option>
                <option value="49">第49页</option>
                <option value="50">第50页</option>
                <option value="51">第51页</option>
                <option value="52">第52页</option>
                <option value="53">第53页</option>
                <option value="54">第54页</option>
                <option value="55">第55页</option>
                <option value="56">第56页</option>
                <option value="57">第57页</option>
                <option value="58">第58页</option>
                <option value="59">第59页</option>
                <option value="60">第60页</option>
                <option value="61">第61页</option>
                <option value="62">第62页</option>
                <option value="63">第63页</option>
                <option value="64">第64页</option>
                <option value="65">第65页</option>
                <option value="66">第66页</option>
                <option value="67">第67页</option>
                <option value="68">第68页</option>
                <option value="69">第69页</option>
                <option value="70">第70页</option>
                <option value="71">第71页</option>
                <option value="72">第72页</option>
                <option value="73">第73页</option>
                <option value="74">第74页</option>
                <option value="75">第75页</option>
                <option value="76">第76页</option>
                <option value="77">第77页</option>
                <option value="78">第78页</option>
                <option value="79">第79页</option>
                <option value="80">第80页</option>
                <option value="81">第81页</option>
                <option value="82">第82页</option>
                <option value="83">第83页</option>
                <option value="84">第84页</option>
                <option value="85">第85页</option>
                <option value="86">第86页</option>
                <option value="87">第87页</option>
                <option value="88">第88页</option>
                <option value="89">第89页</option>
                <option value="90">第90页</option>
                <option value="91">第91页</option>
                <option value="92">第92页</option>
                <option value="93">第93页</option>
                <option value="94">第94页</option>
                <option value="95">第95页</option>
                <option value="96">第96页</option>
                <option value="97">第97页</option>
                <option value="98">第98页</option>
                <option value="99">第99页</option>
                <option value="100">第100页</option>
            </select>
            <span>第17页</span>
        </a>
        <a href="http://travel.qunar.com/bbs/forum.php?mod=forumdisplay&amp;fid=54&amp;page=18&amp;mobile=2">下一页</a>
    </div> -->
    <!-- main threadlist end -->
    <div class="pullrefresh" style="display:none;"></div>
    <div id="mask" style="display:none;"></div>
    <div class="footer">
        <div>
            <a href="http://user.qunar.com">luckyxutao</a>
            ,
            <a href="http://user.qunar.com/passport/logout.jsp?ret=http://travel.qunar.com/bbs/" title="退出" class="dialog">退出</a>
        </div>
        <div>
            <a href="http://travel.qunar.com/bbs/forum.php?mod=forumdisplay&amp;fid=54&amp;page=17&amp;mobile=1&amp;simpletype=no">标准版</a>
            |
            <a href="javascript:;" style="color:#D7D7D7;">触屏版</a>
            |
            <a href="http://travel.qunar.com/bbs/forum.php?mod=forumdisplay&amp;fid=54&amp;page=17&amp;mobile=no">电脑版</a>
            |
            <a href="http://www.discuz.net/mobile.php?platform=android">客户端</a>
        </div>
        <p>© Comsenz Inc.</p>
    </div>

</body>
</html>