layout: false
--------
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="自助游,游记,攻略,经验,旅游约伴骆驼们的精神家园">
	<meta name="description" content="欢迎来到去哪儿攻略论坛！在这里，你可以和其他旅行者沟通交流，得到帮助或启发灵感，更有可能找到旅途中的同伴，还可以记下属于自己的旅行记忆。在这里我们彼此互助，一同感受旅行的乐趣。 ,骆驼们的精神家园">
	<title>骆驼们的精神家园,最具影响力的旅行攻略论坛 -  手机版 - Powered by Discuz!</title>
	<link rel="stylesheet" href="/demos/styles/touch/style2.css" type="text/css" media="all"></head>

<body>
	<!-- header start -->

	<header class="header">
		<div class="hdc hd-shou cl">
			<ul class="user_fun y">
				<li>
					<h2 class="tit">攻略社区</h2>
				</li>
				<li id="usermsg">
					<a href="home.php?mod=space&amp;uid=36625&amp;do=thread&amp;view=me&amp;mobile=2" class="icon_userinfo my-tiezi" >我的帖子</a>
				</li>
				<li>
					<a href="search.php?mod=forum&amp;mobile=2" class="icon_search"></a>
				</li>

			</ul>
		</div>
	</header>
	<!-- header end -->
	<!--  lunbotu start -->
	<div class="b_cover">
		<div class="listbox" id="switch_img">
			<ul class="list_item clrfix" style="width: 700%; margin-left: -100%;">
				<li class="list">
					<a href="http://touch.travel.qunar.com/youji/4826088?" data-log="touch_main_pic">
						<img src="http://img1.qunarzz.com/travel/poi/1501/25/728b1c7ae2af5e.jpg" width="320" height="193"></a>
				</li>
				<li class="list">
					<a href="http://touch.travel.qunar.com/topics/2890?ex_track=20150112travellerstouch" data-log="touch_main_pic">
						<img src="http://img1.qunarzz.com/travel/poi/1501/8e/19244f5fd105a1.jpg" width="320" height="193"></a>
				</li>
				<li class="list">
					<a href="http://touch.travel.qunar.com/youji/5027257?" data-log="touch_main_pic">
						<img src="http://img1.qunarzz.com/travel/poi/1501/cd/65f12d9f19ad03.jpg" width="320" height="193"></a>
				</li>
				<li class="list">
					<a href="http://touch.travel.qunar.com/youji/4983375?" data-log="touch_main_pic">
						<img src="http://img1.qunarzz.com/travel/poi/1501/15/8523889e2261b.jpg" width="320" height="193"></a>
				</li>
				<li class="list">
					<a href="http://touch.travel.qunar.com/youji/4792766?" data-log="touch_main_pic">
						<img src="http://img1.qunarzz.com/travel/poi/1501/28/7a887debee4875.jpg" width="320" height="193"></a>
				</li>
				<li class="list">
					<a href="http://touch.travel.qunar.com/youji/4826088?" data-log="touch_main_pic">
						<img src="http://img1.qunarzz.com/travel/poi/1501/25/728b1c7ae2af5e.jpg" width="320" height="193"></a>
				</li>
				<li class="list">
					<a href="http://touch.travel.qunar.com/topics/2890?ex_track=20150112travellerstouch" data-log="touch_main_pic">
						<img src="http://img1.qunarzz.com/travel/poi/1501/8e/19244f5fd105a1.jpg" width="320" height="193"></a>
				</li>
			</ul>
			<div class="imgNum" style="display:none;" id="js_imgNumBox">
				<span class="currentNum">1</span>
				/ 5
			</div>
			<div class="btns" id="js_imgbtns">
				<a href="javascript:;" index="0" class="current"></a>
				<a href="javascript:;" index="1" class=""></a>
				<a href="javascript:;" index="2" class=""></a>
				<a href="javascript:;" index="3" class=""></a>
				<a href="javascript:;" index="4" class=""></a>
			</div>
		</div>
	</div>
	<!--  lunbotu end -->
	<!-- main forumlist start -->
	<div class="wp wm" id="wp">
		<div class="bm bmw fl">
			<div class="subforumshow bm_h cl" href="#sub_forum_39">
				<h2 class="z">
					<a href="javascript:;">骆驼们的精神家园</a>
				</h2>
				<span class="tiezi-sum y">帖子：14060</span>
			</div>
			<div id="sub_forum_39" class="sub_forum bm_c" style="display: block;">
				<dl class="cl">
					<dt class="z">
						<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;mobile=2" class="icon-box">
							<img src="/demos/styles/touch/images/bbs-new/diqiu.jpg" alt="" width="100%"></a>
					</dt>
					<dd class="y">
						<h2 class="tit">
							<a href="#" class="">旅游问答</a>
							(
							<span class="sum">27</span>
							)
						</h2>
						<p class="infor">
							关于旅行中的一切问题，
让有爱的小骆驼们为你一一解答。
						</p>
					</dd>
				</dl>
			
				<dl class="cl">
					<dt class="z">
						<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;mobile=2" class="icon-box">
							<img src="/demos/styles/touch/images/bbs-new/icon-daren.jpg" alt="" width="100%"></a>
					</dt>
					<dd class="y">
						<h2 class="tit">
							<a href="#" class="">精选特价</a>
							(
							<span class="sum">27</span>
							)
						</h2>
						<p class="infor">
							关于旅行中的一切问题，
让有爱的小骆驼们为你一一解答。
						</p>
					</dd>
				</dl>
				<dl class="cl">
					<dt class="z">
						<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;mobile=2" class="icon-box">
							<img src="/demos/styles/touch/images/bbs-new/icon-youji.jpg" alt="" width="100%"></a>
					</dt>
					<dd class="y">
						<h2 class="tit">
							<a href="#" class="">精彩游记</a>
							(
							<span class="sum">27</span>
							)
						</h2>
						<p class="infor">
							关于旅行中的一切问题，
让有爱的小骆驼们为你一一解答。
						</p>
					</dd>
				</dl>
				<dl class="cl">
					<dt class="z">
						<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;mobile=2" class="icon-box">
							<img src="/demos/styles/touch/images/bbs-new/icon-luotuoshu.jpg" alt="" width="100%"></a>
					</dt>
					<dd class="y">
						<h2 class="tit">
							<a href="#" class="">骆驼书</a>
							(
							<span class="sum">27</span>
							)
						</h2>
						<p class="infor">
							关于旅行中的一切问题，
让有爱的小骆驼们为你一一解答。
						</p>
					</dd>
				</dl>
					<dl class="cl last-child">
					<dt class="z">
						<a href="forum.php?mod=forumdisplay&amp;fid=54&amp;mobile=2" class="icon-box">
							<img src="/demos/styles/touch/images/bbs-new/icon-tucao.jpg" alt="" width="100%"></a>
					</dt>
					<dd class="y">
						<h2 class="tit">
							<a href="#" class="">吐槽专区答</a>
							(
							<span class="sum">27</span>
							)
						</h2>
						<p class="infor">
							关于旅行中的一切问题，
让有爱的小骆驼们为你一一解答。
						</p>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<div id="mask" style="display:none;"></div>
	<div class="footer">
		<div>
			<a href="http://user.qunar.com">luckyxutao</a>
			,
			<a href="http://user.qunar.com/passport/logout.jsp?ret=http://travel.qunar.com/bbs/" title="退出" class="dialog">退出</a>
		</div>
		<div>
			<a href="http://travel.qunar.com/bbs/forum.php?mobile=1&amp;simpletype=no">标准版</a>
			|
			<a href="javascript:;" style="color:#D7D7D7;">触屏版</a>
			|
			<a href="http://travel.qunar.com/bbs/forum.php?mobile=no">电脑版</a>
			|
			<a href="http://www.discuz.net/mobile.php?platform=android">客户端</a>
		</div>
		<p>© Comsenz Inc.</p>
	</div>

</body>
</html>