layout: false
--------
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="去哪儿网论坛">
    <meta name="description" content=" 关于帐户屏蔽的处理 ,骆驼们的精神家园">
    <title>关于帐户屏蔽的处理_吐槽专区_骆驼们的精神家园 -  手机版 - Powered by Discuz!</title>
    <link rel="stylesheet" href="/demos/styles/touch/style2.css" type="text/css" media="all"></head>

<body class="bg">
    <!-- main postlist start -->
    <div class="postlist">
        <h2>
            <dl>
                <dt> <em class="green">[问题反馈]</em>
                    关于帐户屏蔽的处理,关于帐户屏蔽的处理 关于帐户屏蔽的处理 关于帐户屏蔽的处理 关于帐户屏蔽的处理 关于帐的处理 关于帐户屏蔽的处理 关于帐户屏蔽的处理 关于帐户屏蔽的处理 关于帐户屏蔽的处理 关于帐户屏蔽的处理!
                </dt>
                <dd class="cl">
                    <div class="bottom_l">
                        <span class="name">标签:</span>
                        <span class="tags">
                            <span>欧洲</span>
                            <span>瑞士</span>
                            <span>铁路</span>
                        </span>
                    </div>
                    <div class="bottom_r"> <em class="icon"><img src="/demos/styles/touch/images/bbs-new/xu-msg.jpg" width="10" height="10"></em>
                        <span class="num">12</span>
                    </div>
                </dd>
            </dl>
        </h2>
        <div class="plc cl">
            <span class="avatar">
                <img src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg" style="width: 32px; height: 32px; display: inline; visibility: visible;" zsrc="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></span>
            <div class="display pi" href="#replybtn_31139">
                <ul class="authi">
                    <li class="new_grey">
                        <em>楼主</em> <b><a href="home.php?mod=space&amp;uid=55&amp;mobile=2" class="green usrname">陈小懒就是我</a></b> 

                    </li>
                    <li class="new_grey rela">
                        <em><a href="home.php?mod=spacecp&amp;ac=favorite&amp;type=thread&amp;id=8070&amp;mobile=2" class="favbtn green">回复</a></em> 
                        2014-12-23 15:46:41
                    </li>
                </ul>
                <div class="message">
                    也许你发表了不恰当的内容，也许是你发表游记频率太快……，以上各种情况系统会自动屏蔽IP或帐户，如果你是无意操作，请在此贴留言即可，我们核实后将尽快为您解禁。
                    <br>
                    如果未登录请提供IP，如果已登录可以提供用户名；
                    <br>谢谢</div>
            </div>
        </div>
        <div class="plc cl">
            <span class="avatar">
                <img src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg" style="width: 32px; height: 32px; display: inline; visibility: visible;" zsrc="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></span>
            <div class="display pi" href="#replybtn_31139">
                <ul class="authi">
                    <li class="new_grey">
                        <em>楼主</em> <b><a href="home.php?mod=space&amp;uid=55&amp;mobile=2" class="green usrname">dgjf0431</a></b> 

                    </li>
                    <li class="new_grey rela">
                        <em><a href="home.php?mod=spacecp&amp;ac=favorite&amp;type=thread&amp;id=8070&amp;mobile=2" class="favbtn green">回复</a></em> 
                        2014-12-23 15:46:41
                    </li>
                </ul>
                <div class="message">
                对不起，以后不会了，</div>
            </div>
        </div>
        <div class="plc cl">
            <span class="avatar">
                <img src="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg" style="width: 32px; height: 32px; display: inline; visibility: visible;" zsrc="http://img1.qunarzz.com/ucenter/portrait/1411/bb/bbdb2f47996858ec443b6d8e.jpg_r_64x64_4c738634.jpg"></span>
            <div class="display pi" href="#replybtn_31139">
                <ul class="authi">
                    <li class="new_grey">
                        <em>楼主</em> <b><a href="home.php?mod=space&amp;uid=55&amp;mobile=2" class="green usrname">dgjf0431</a></b> 

                    </li>
                    <li class="new_grey rela">
                        <em><a href="home.php?mod=spacecp&amp;ac=favorite&amp;type=thread&amp;id=8070&amp;mobile=2" class="favbtn green">回复</a></em> 
                        2014-12-23 15:46:41
                    </li>
                </ul>
                <div class="message">奥伊米亚康（俄文Оймяко́н，英文Oymyakon）是俄罗斯西伯利亚东北部一个盆地，海拔约750米，也是一个村庄。距离北极圈仅有350公里，属俄罗斯的萨哈共和国管辖。奥伊米亚康位于西伯利亚因迪吉尔卡河上游同名盆地中央，东、南、西三面较高，仅北面地势较低，造成其气候极度严寒，和上扬斯克并称为北半球的“寒极”
奥伊米亚康图册
奥伊米亚康图册(33张)
。</div>
            </div>
        </div>
        <div id="post_new"></div>
        <div class="replyform cl">
                <div class="l">
                    <input class="ipt none" type="text" placeholder="我要回复"/>
                    <textarea class="txtarea">我觉着吧</textarea>
                </div>
                <div class="r">
                        <dl>
                            <dt><input type="button" value="回复" class="submitbtn" name="replysubmit" id="fastpostsubmit"></dt>
                            <dd>
                                    <a class="camera_link" href="#"><img width="35" height="25" src="/demos/styles/touch/images/bbs-new/xu_camera.png"></a>
                            </dd>
                        </dl>
                </div>
        </div>
    </div>
    <!-- main postlist end -->

    <a href="javascript:;" title="返回顶部" class="scrolltop bottom" style="opacity: 0.618; bottom: 8px;"></a>
    <div id="mask" style="display:none;"></div>
    <div class="footer">
        <div>
            <a href="http://user.qunar.com">luckyxutao</a>
            ,
            <a href="http://user.qunar.com/passport/logout.jsp?ret=http://travel.qunar.com/bbs/" title="退出" class="dialog">退出</a>
        </div>
        <div>
            <a href="http://travel.qunar.com/bbs/forum.php?mod=viewthread&amp;tid=8070&amp;extra=page%3D1&amp;mobile=1&amp;simpletype=no">标准版</a>
            |
            <a href="javascript:;" style="color:#D7D7D7;">触屏版</a>
            |
            <a href="http://travel.qunar.com/bbs/forum.php?mod=viewthread&amp;tid=8070&amp;extra=page%3D1&amp;mobile=no">电脑版</a>
            |
            <a href="http://www.discuz.net/mobile.php?platform=android">客户端</a>
        </div>
        <p>© Comsenz Inc.</p>
    </div>

</body>
</html>